body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #1d1d1f;
	margin: 0;
	font-family: 'Jost', sans-serif;
}

#root {
	width: 393px;
	height: 852px;
	border-radius: 24px;
	background: #fff;
	position: relative;
	overflow: hidden;
}

.background-img {
	width: 393px;
	height: 583px;
	background: linear-gradient(180deg, #5431df 0%, rgba(120, 92, 229, 0) 100%);
	border-radius: 0px 0px 32px 32px;
}

.background-safe {
	position: absolute;
	top: 245px;
	right: -100px;
}

.wrapper__title {
	position: absolute;
	top: calc(50% - 325px);
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	font-size: 42px;
	font-weight: 600;
	line-height: 100%;
}

.wrapper__text {
	position: absolute;
	top: calc(50% - 260px);
	left: 50%;
	transform: translateX(-50%);
	width: max-content;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	line-height: 100%;
}
